{{define "add"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" }}
  <body>
    {{template "header" "Add"}}
    <main>
      <form method="POST">
        <input type="text" placeholder="data for your block" required name="blockData" />
        <button>Add block</button>
      </form>
    </main>
  </body>
  {{template "footer"}}
</html>
{{end}}